In [1]:
import pandas as pd

In [2]:
cars=pd.read_csv(r"C:\Users\admin\Documents\haseeb pandas\Automobile_data.csv")

In [3]:
cars

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [4]:
cars.head(61)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [5]:
cars.tail(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [6]:
cars.describe()

,index,wheel-base,length,horsepower,average-mileage,price
count,61.000000,61.000000,61.000000,61.000000,61.000000,58.000000
mean,40.885246,98.481967,173.098361,107.852459,25.803279,15387.000000
std,25.429706,6.679234,14.021846,53.524398,8.129821,11320.259841
min,0.000000,88.400000,141.100000,48.000000,13.000000,5151.000000
25%,18.000000,94.500000,159.100000,68.000000,19.000000,6808.500000
50%,39.000000,96.300000,171.200000,100.000000,25.000000,11095.000000
75%,61.000000,101.200000,177.300000,123.000000,31.000000,18120.500000
max,88.000000,120.900000,208.100000,288.000000,47.000000,45400.000000

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

In [8]:
cars.describe(include="object")

       company body-style engine-type num-of-cylinders
count       61         61          61               61
unique      16          5           7                7
top     toyota      sedan         ohc             four
freq         7         32          46               39

In [9]:
cars.loc[1:61]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
30,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [10]:
cars["company"].value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [11]:
cars.sort_values(by="price")

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
...,...,...,...,...,...,...,...,...,...,...
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN

In [12]:
cars=cars.dropna()

In [13]:
cars.isna().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [14]:
cars

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
30,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [15]:
cars.sort_values(by="price").tail(1)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0

In [16]:
cars

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
30,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [17]:
cars[cars["company"]=="volvo"]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [18]:
student_dict={'name':['joe','nat','harry'],'class':['A','B','A'],'marks':[85.10,77.80,91.54]}

In [19]:
student_dict

{'name': ['joe', 'nat', 'harry'],
 'class': ['A', 'B', 'A'],
 'marks': [85.1, 77.8, 91.54]}

In [20]:
student_df=pd.DataFrame(student_dict)

In [21]:
student_df

    name class  marks
0    joe     A  85.10
1    nat     B  77.80
2  harry     A  91.54

In [22]:
student_df.groupby(["class"]).mean("class")

       marks
class
A      88.32
B      77.80

In [23]:
student_df["marks"]/3

0    28.366667
1    25.933333
2    30.513333
Name: marks, dtype: float64

In [24]:
cars.describe(include="object")

       company body-style engine-type num-of-cylinders
count       58         58          58               58
unique      16          5           6                7
top     toyota      sedan         ohc             four
freq         7         30          44               37

In [25]:
cars.groupby("company").count()

,index,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
company,,,,,,,,,
alfa-romero,3,3,3,3,3,3,3,3,3
audi,4,4,4,4,4,4,4,4,4
bmw,6,6,6,6,6,6,6,6,6
chevrolet,3,3,3,3,3,3,3,3,3
dodge,2,2,2,2,2,2,2,2,2
honda,3,3,3,3,3,3,3,3,3
isuzu,1,1,1,1,1,1,1,1,1
jaguar,3,3,3,3,3,3,3,3,3
mazda,5,5,5,5,5,5,5,5,5
mercedes-benz,4,4,4,4,4,4,4,4,4
mitsubishi,4,4,4,4,4,4,4,4,4
nissan,5,5,5,5,5,5,5,5,5
porsche,2,2,2,2,2,2,2,2,2
toyota,7,7,7,7,7,7,7,7,7
volkswagen,4,4,4,4,4,4,4,4,4
volvo,2,2,2,2,2,2,2,2,2

In [26]:
cars.groupby("company").sum()

,index,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
company,,,,,,,,,
alfa-romero,3,convertibleconvertiblehatchback,271.7,508.8,dohcdohcohcv,fourfoursix,376,61,46495.0
audi,18,sedansedansedanwagon,404.8,723.2,ohcohcohcohc,fourfivefivefive,437,80,65570.0
bmw,72,sedansedansedansedansedansedan,620.6,1110.2,ohcohcohcohcohcohc,fourfoursixsixsixsix,869,114,163280.0
chevrolet,51,hatchbackhatchbacksedan,277.4,455.8,lohcohc,threefourfour,188,123,18021.0
dodge,39,hatchbackhatchback,187.4,314.6,ohcohc,fourfour,136,62,12606.0
honda,84,wagonsedansedan,289.5,501.6,ohcohcohc,fourfourfour,277,79,30585.0
isuzu,30,sedan,94.3,170.7,ohc,four,78,24,6785.0
jaguar,102,sedansedansedan,328.0,590.9,dohcdohcohcv,sixsixtwelve,614,43,103800.0
mazda,193,hatchbackhatchbackhatchbackhatchbacksedan,479.5,821.3,ohcohcohcrotorohc,fourfourfourtwofour,377,140,48274.0
mercedes-benz,182,sedanwagonsedanhardtop,452.9,789.1,ohcohcohcvohcv,fivefiveeighteight,614,72,140160.0
mitsubishi,202,hatchbackhatchbacksedansedan,380.0,659.4,ohcohcohcohc,fourfourfourfour,312,118,26756.0
nissan,275,sedansedansedanwagonsedan,478.4,850.7,ohcohcohcohcohcv,fourfourfourfoursix,414,157,41445.0
porsche,123,hardtopconvertible,179.0,337.8,ohcfohcf,sixsix,414,34,71056.0
toyota,490,hatchbackhatchbackhatchbackwagonwagonwagonwagon,678.7,1173.0,ohcohcohcohcohcohcdohc,fourfourfourfourfourfoursix,528,201,57518.0
volkswagen,329,sedansedansedansedan,389.2,686.8,ohcohcohcohc,fourfourfourfour,289,127,33740.0
volvo,175,sedanwagon,208.6,377.6,ohcohc,fourfour,228,46,26355.0

In [27]:
cars.groupby(["company","engine-type"]).sum()

                           index                                  body-style  \
company       engine-type
alfa-romero   dohc             1                      convertibleconvertible
              ohcv             2                                   hatchback
audi          ohc             18                        sedansedansedanwagon
bmw           ohc             72              sedansedansedansedansedansedan
chevrolet     l               16                                   hatchback
              ohc             35                              hatchbacksedan
dodge         ohc             39                          hatchbackhatchback
honda         ohc             84                             wagonsedansedan
isuzu         ohc             30                                       sedan
jaguar        dohc            67                                  sedansedan
              ohcv            35                                       sedan
mazda         ohc            154            hatchbackhatchbackhatchbacksedan
              rotor           39                                   hatchback
mercedes-benz ohc             89                                  sedanwagon
              ohcv            93                                sedanhardtop
mitsubishi    ohc            202                hatchbackhatchbacksedansedan
nissan        ohc            218                        sedansedansedanwagon
              ohcv            57                                       sedan
porsche       ohcf           123                          hardtopconvertible
toyota        dohc            79                                       wagon
              ohc            411  hatchbackhatchbackhatchbackwagonwagonwagon
volkswagen    ohc            329                        sedansedansedansedan
volvo         ohc            175                                  sedanwagon

                           wheel-base  length          num-of-cylinders  \
company       engine-type
alfa-romero   dohc              177.2   337.6                  fourfour
              ohcv               94.5   171.2                       six
audi          ohc               404.8   723.2          fourfivefivefive
bmw           ohc               620.6  1110.2      fourfoursixsixsixsix
chevrolet     l                  88.4   141.1                     three
              ohc               189.0   314.7                  fourfour
dodge         ohc               187.4   314.6                  fourfour
honda         ohc               289.5   501.6              fourfourfour
isuzu         ohc                94.3   170.7                      four
jaguar        dohc              226.0   399.2                    sixsix
              ohcv              102.0   191.7                    twelve
mazda         ohc               384.2   652.3          fourfourfourfour
              rotor              95.3   169.0                       two
mercedes-benz ohc               220.0   381.8                  fivefive
              ohcv              232.9   407.3                eighteight
mitsubishi    ohc               380.0   659.4          fourfourfourfour
nissan        ohc               378.0   666.1          fourfourfourfour
              ohcv              100.4   184.6                       six
porsche       ohcf              179.0   337.8                    sixsix
toyota        dohc              104.5   187.8                       six
              ohc               574.2   985.2  fourfourfourfourfourfour
volkswagen    ohc               389.2   686.8          fourfourfourfour
volvo         ohc               208.6   377.6                  fourfour

                           horsepower  average-mileage     price
company       engine-type
alfa-romero   dohc                222               42   29995.0
              ohcv                154               19   16500.0
audi          ohc                 437               80   65570.0
bmw           ohc                 869              114  163280.0
chevrolet     l                    48               47    5151.0
              ohc                 140               76   12870.0
dodge         ohc                 136               62   12606.0
honda         ohc                 277               79   30585.0
isuzu         ohc                  78               24    6785.0
jaguar        dohc                352               30   67800.0
              ohcv                262               13   36000.0
mazda         ohc                 276              123   36429.0
              rotor               101               17   11845.0
mercedes-benz ohc                 246               44   53800.0
              ohcv                368               28   86360.0
mitsubishi    ohc                 312              118   26756.0
nissan        ohc                 262              138   27946.0
              ohcv                152               19   13499.0
porsche       ohcf                414               34   71056.0
toyota        dohc                156               19   15750.0
              ohc                 372              182   41768.0
volkswagen    ohc                 289              127   33740.0
volvo         ohc                 228               46   26355.0